flows/AutoUpdateTask.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_SObject_to_CollectionSObject</name>
        <label>Assign SObject to CollectionSObject</label>
        <locationX>517</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>UpdatedSObjectCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskSObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Status</name>
        <label>Change Status</label>
        <locationX>516</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>TaskSObject.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SObject_to_CollectionSObject</targetReference>
        </connector>
    </assignments>
    <interviewLabel>AutoUpdateTask {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoUpdateTask</label>
    <loops>
        <name>LoopThroughTasks</name>
        <label>LoopThroughTasks</label>
        <locationX>248</locationX>
        <locationY>216</locationY>
        <assignNextValueToReference>TaskSObject</assignNextValueToReference>
        <collectionReference>TaskSObjectCollectionVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AllOpenTasks</name>
        <label>AllOpenTasks</label>
        <locationX>255</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughTasks</targetReference>
        </connector>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TaskSObjectCollectionVariable</outputReference>
        <queriedFields>Status</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tasks</name>
        <label>Update Tasks</label>
        <locationX>250</locationX>
        <locationY>404</locationY>
        <inputReference>UpdatedSObjectCollectionVariable</inputReference>
    </recordUpdates>
    <startElementReference>AllOpenTasks</startElementReference>
    <status>Active</status>
    <variables>
        <name>InputID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskSObjectCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UpdatedSObjectCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
