flows/CorrespondenceDuplicateCheck.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CountCorrespondences</name>
        <label>CountCorrespondences</label>
        <locationX>414</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>CountCorrespondence</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CorrespondenceDuplicateCheck {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CorrespondenceDuplicateCheck</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>137</locationX>
        <locationY>139</locationY>
        <assignNextValueToReference>varReturnCorrespondenceID</assignNextValueToReference>
        <collectionReference>varReturnCorrespondences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountCorrespondences</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateonClaimObject</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DuplicateCorrespondenceCheck</name>
        <label>DuplicateCorrespondenceCheck</label>
        <locationX>139</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClaimId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCorrespondenceName</elementReference>
            </value>
        </filters>
        <object>Correspondence__c</object>
        <outputReference>varReturnCorrespondences</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateonClaimObject</name>
        <label>UpdateonClaimObject</label>
        <locationX>135</locationX>
        <locationY>236</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClaimId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CorrespondenceCountFlow__c</field>
            <value>
                <elementReference>CountCorrespondence</elementReference>
            </value>
        </inputAssignments>
        <object>Claim__c</object>
    </recordUpdates>
    <startElementReference>DuplicateCorrespondenceCheck</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>ClaimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountCorrespondence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCorrespondenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCorrespondenceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReturnCorrespondenceID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Correspondence__c</objectType>
    </variables>
    <variables>
        <name>varReturnCorrespondences</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Correspondence__c</objectType>
    </variables>
</Flow>
