flows/JBSystemFlow_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95_FireJBTrigger</name>
        <label>SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>500007922</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Fax&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;Title&quot;,&quot;Phone&quot;,&quot;Suffix&quot;,&quot;Jigsaw&quot;,&quot;BIC__c&quot;,&quot;OwnerId&quot;,&quot;IBAN__c&quot;,&quot;PhotoUrl&quot;,&quot;LastName&quot;,&quot;Birthdate&quot;,&quot;IsDeleted&quot;,&quot;DoNotCall&quot;,&quot;AccountId&quot;,&quot;FirstName&quot;,&quot;OtherCity&quot;,&quot;HomePhone&quot;,&quot;LeadSource&quot;,&quot;MiddleName&quot;,&quot;Invalid__c&quot;,&quot;Department&quot;,&quot;Salutation&quot;,&quot;Primary__c&quot;,&quot;OtherState&quot;,&quot;OtherPhone&quot;,&quot;MobilePhone&quot;,&quot;OtherStreet&quot;,&quot;MailingCity&quot;,&quot;CreatedDate&quot;,&quot;CreatedById&quot;,&quot;Description&quot;,&quot;OtherCountry&quot;,&quot;MailingState&quot;,&quot;Bank_Name__c&quot;,&quot;Salutation__c&quot;,&quot;MailingStreet&quot;,&quot;OtherLatitude&quot;,&quot;AssistantName&quot;,&quot;SystemModstamp&quot;,&quot;MailingCountry&quot;,&quot;OtherLongitude&quot;,&quot;MasterRecordId&quot;,&quot;AssistantPhone&quot;,&quot;IsEmailBounced&quot;,&quot;Second_Email__c&quot;,&quot;Email_Opt_In__c&quot;,&quot;OtherPostalCode&quot;,&quot;Second_Phone__c&quot;,&quot;MailingLatitude&quot;,&quot;JigsawContactId&quot;,&quot;MailingLongitude&quot;,&quot;HasOptedOutOfFax&quot;,&quot;EmailBouncedDate&quot;,&quot;LastModifiedDate&quot;,&quot;LastModifiedById&quot;,&quot;LastActivityDate&quot;,&quot;MailingPostalCode&quot;,&quot;Account_Holder__c&quot;,&quot;EmailBouncedReason&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;LastReferencedDate&quot;,&quot;Last_Opportunity__c&quot;,&quot;Auto_Follow_up_Date__c&quot;,&quot;Email_Representative__c&quot;,&quot;Auto_Follow_up_Count__c&quot;,&quot;Newsletter_Registered__c&quot;,&quot;et4ae5__HasOptedOutOfMobile__c&quot;,&quot;Newsletter_Confirmation_Date__c&quot;,&quot;Newsletter_Registration_Date__c&quot;,&quot;Newsletter_Confirmation_Link__c&quot;,&quot;Autostart_Auto_Follow_up_Journeys__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95</name>
        <label>JB_Decision_Null_Check_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95_Decision</name>
        <label>JB_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Trigger_Journey_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95_State_change_Decision</name>
        <label>JB_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Trigger_Journey_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Contact</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj58fada6f15b3e3d04b2131bddbc9ad95</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
