flows/JBSystemFlow_Lead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d_FireJBTrigger</name>
        <label>SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Id&quot;,
  &quot;relationshipName&quot;: &quot;&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Lead&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>500007922</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;City&quot;,&quot;Phone&quot;,&quot;State&quot;,&quot;Title&quot;,&quot;Email&quot;,&quot;IP__c&quot;,&quot;Rating&quot;,&quot;Jigsaw&quot;,&quot;Suffix&quot;,&quot;Status&quot;,&quot;Street&quot;,&quot;Company&quot;,&quot;Website&quot;,&quot;Country&quot;,&quot;Bank__c&quot;,&quot;PhotoUrl&quot;,&quot;Industry&quot;,&quot;LastName&quot;,&quot;Latitude&quot;,&quot;Token__c&quot;,&quot;IsDeleted&quot;,&quot;Return__c&quot;,&quot;Longitude&quot;,&quot;FirstName&quot;,&quot;MiddleName&quot;,&quot;LeadSource&quot;,&quot;Partner__c&quot;,&quot;Form_Id__c&quot;,&quot;PostalCode&quot;,&quot;Account__c&quot;,&quot;Browser__c&quot;,&quot;Salutation&quot;,&quot;IsConverted&quot;,&quot;Campaign__c&quot;,&quot;CountryCode&quot;,&quot;MobilePhone&quot;,&quot;CreatedById&quot;,&quot;Referrer__c&quot;,&quot;CreatedDate&quot;,&quot;Automarke__c&quot;,&quot;Unique_Id__c&quot;,&quot;Birthdate__c&quot;,&quot;Reference__c&quot;,&quot;RecordTypeId&quot;,&quot;Insurance__c&quot;,&quot;Is_My_Lead__c&quot;,&quot;Callcenter__c&quot;,&quot;Salutation__c&quot;,&quot;Sales_Type__c&quot;,&quot;Backoffice__c&quot;,&quot;ConvertedDate&quot;,&quot;LastViewedDate&quot;,&quot;SystemModstamp&quot;,&quot;Diesel_Code__c&quot;,&quot;Before_2015__c&quot;,&quot;MasterRecordId&quot;,&quot;Absagegrund__c&quot;,&quot;Termination__c&quot;,&quot;JigsawContactId&quot;,&quot;Process_Type__c&quot;,&quot;Bemerkung_LV__c&quot;,&quot;IsUnreadByOwner&quot;,&quot;GeocodeAccuracy&quot;,&quot;Company_Name__c&quot;,&quot;Second_Phone__c&quot;,&quot;Availability__c&quot;,&quot;Second_Email__c&quot;,&quot;Vehicle_Type__c&quot;,&quot;Product_Code__c&quot;,&quot;AdWords_Term__c&quot;,&quot;Payment_Term__c&quot;,&quot;Lead_revokes__c&quot;,&quot;Vehicle_Brand__c&quot;,&quot;LastActivityDate&quot;,&quot;URL_Abmeldung__c&quot;,&quot;Qualification__c&quot;,&quot;LastModifiedDate&quot;,&quot;EmailBouncedDate&quot;,&quot;Has_Financing__c&quot;,&quot;LastModifiedById&quot;,&quot;Purchase_Price__c&quot;,&quot;AdWords_Source__c&quot;,&quot;Insurance_Rate__c&quot;,&quot;Future_Savings__c&quot;,&quot;Product_Family__c&quot;,&quot;NumberOfEmployees&quot;,&quot;AdWords_Medium__c&quot;,&quot;Financing_Type__c&quot;,&quot;Inception_Date__c&quot;,&quot;Comment_On_Loss__c&quot;,&quot;ConvertedContactId&quot;,&quot;Assignment_Type__c&quot;,&quot;Advance_Payment__c&quot;,&quot;Follow_up_Count__c&quot;,&quot;ConvertedAccountId&quot;,&quot;Expiration_Date__c&quot;,&quot;Customer_Number__c&quot;,&quot;Current_Mileage__c&quot;,&quot;LastReferencedDate&quot;,&quot;Date_Commitment__c&quot;,&quot;EmailBouncedReason&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;AdWords_Content__c&quot;,&quot;Owner_Is_Company__c&quot;,&quot;Vehicle_Affected__c&quot;,&quot;Customer_Reached__c&quot;,&quot;Follow_up_Period__c&quot;,&quot;Insurance_Lookup__c&quot;,&quot;Insurance_Number__c&quot;,&quot;Already_Informed__c&quot;,&quot;AdWords_Campaign__c&quot;,&quot;AGBanfordernLink__c&quot;,&quot;URL_AGB_anfordern__c&quot;,&quot;Final_Installment__c&quot;,&quot;Task_Controller_1__c&quot;,&quot;Paid_Installments__c&quot;,&quot;Location__Latitude__s&quot;,&quot;Link_zur_Abmeldung__c&quot;,&quot;Versicherung_LV_RV__c&quot;,&quot;Bearbeitungsnummer__c&quot;,&quot;Modifications_Done__c&quot;,&quot;Vehicle_Brand_Name__c&quot;,&quot;VehicleBrandAccount__c&quot;,&quot;Follow_up_Journey_4__c&quot;,&quot;Auto_Follow_up_Date__c&quot;,&quot;Mileage_On_Purchase__c&quot;,&quot;Location__Longitude__s&quot;,&quot;ConvertedOpportunityId&quot;,&quot;Follow_up_Journey_3__c&quot;,&quot;Follow_Up_Journey_1__c&quot;,&quot;Follow_up_Journey_2__c&quot;,&quot;BypassProcessBuilder__c&quot;,&quot;URL_Rueckrufformular__c&quot;,&quot;Start_Auto_Follow_up__c&quot;,&quot;AGB_anfordern_Link_MC__c&quot;,&quot;Newsletter_Registered__c&quot;,&quot;Purchase_Date_Category__c&quot;,&quot;Customer_Number_5_Digit__c&quot;,&quot;Confirmed_Authorization__c&quot;,&quot;Link_zum_Rueckrufformular__c&quot;,&quot;Financing_Contract_Active__c&quot;,&quot;Legal_Protection_Insurance__c&quot;,&quot;et4ae5__Mobile_Country_Code__c&quot;,&quot;Confirmed_Privacy_Statement__c&quot;,&quot;et4ae5__HasOptedOutOfMobile__c&quot;,&quot;Newsletter_Registration_Date__c&quot;,&quot;Abschluss_zwischen_1991_2007__c&quot;,&quot;Vehicle_Identification_Number__c&quot;,&quot;Confirmed_Terms_And_Conditions__c&quot;,&quot;Has_Legal_Protection_Insurance__c&quot;,&quot;Confirmed_Claim_For_Compensation__c&quot;,&quot;Financing_Contract_Date_Category__c&quot;,&quot;Legal_Protection_Insurance_Number__c&quot;,&quot;Bestandteil_betriebl_Altersvorsorge__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d</name>
        <label>JB_Decision_Null_Check_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d_Decision</name>
        <label>JB_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d</name>
            <conditionLogic>(1 AND  ( ( (2 AND 3)  AND 4)  AND 5) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Start_Auto_Follow_up__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121t000000EBhBAAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Confirmed_Terms_And_Conditions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d_State_change_Decision</name>
        <label>JB_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d</name>
            <conditionLogic>NOT  (1 AND  ( ( (2 AND 3)  AND 4)  AND 5) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Start_Auto_Follow_up__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121t000000EBhBAAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Confirmed_Terms_And_Conditions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj72d05e6c3455f1c9e2814b5ed02e342d</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
